*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    display: flex;
    /* border: 2px solid black; */
    /* height: 328px; */
    justify-content: center;
    align-items: center;
}


    .main_form {
        padding: 26px;
        /* border: 2px solid; */
        width: 30%;
    }

    .table{
        width: 80%;
        margin: auto;
    }

    .table>:not(caption)>*>* {
        padding: .5rem .5rem;
        color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
        background-color: var(--bs-table-bg);
        border-bottom-width: var(--bs-border-width);
        box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
        width: 25%;
    }

   .navbar{
    background-color: #09848b;;
    color: white;
   
   }

   .colb{
    border:0.5px solid black;
    
}



.colh{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col50{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
